# Binaries
**/bin/
bin-int/


# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# temporary vulkan
Voxels/vendor/VulkanSDK/

# Sandbox shaders
Sandbox/shaders/